{
    "root": true,
    "extends": [
        "standard",
        "prettier",
        "prettier/react",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": ["prettier", "standard", "react"],
    "env": {
        "es6": true
    },
    "rules": {
        "standard/object-curly-even-spacing": [2, "either"],
        "standard/array-bracket-even-spacing": [2, "either"],
        "standard/computed-property-even-spacing": [2, "even"],
        "standard/no-callback-literal": [2, ["cb", "callback"]],
        "prettier/prettier": "error"
    }
}
